@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');  
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Mynerve', cursive;
    
}

   

.test {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.height {
    height: 300px;
}


.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 18px ;
     

}
.navbar-light .navbar-brand{
    color: black;
    font-size: 30px;
}